:root {
    --parteners-active-background:rgb(92, 92, 255);
}

.card.one.mySlides {
    animation:card-one 60000ms infinite;
    .card-one-sentence-one {
        animation: card-one-sentence-one 60000ms steps(60) infinite,border-right-blink 700ms infinite;
        border-right: .1rem solid black;
    }
}
.card.two.mySlides {
    animation:card-two 60000ms infinite;
    .card-two-sentence-one {        
        animation: card-two-sentence-one 60000ms steps(60) infinite;
    }
    .card-two-sentence-two {
        animation: card-two-sentence-two 60000ms steps(60) infinite,border-right-blink 700ms infinite;
        border-right: .1rem solid black;
    }
}
.card.three.mySlides {
    animation:card-three 60000ms infinite;
    .card-three-sentence-one {
        animation: card-three-sentence-one 60000ms steps(60) infinite;
    }
    .card-three-sentence-two {
        animation: card-three-sentence-two 60000ms steps(60) infinite,border-right-blink 700ms infinite;
        border-right: .1rem solid black;
    }
}
.card.four.mySlides {
    animation:card-four 60000ms infinite;
    .card-four-sentence-one {
        animation: card-four-sentence-one 60000ms steps(60) infinite;
    }
    .card-four-sentence-two {
        animation: card-four-sentence-two 60000ms steps(60) infinite,border-right-blink 700ms infinite;
        border-right: .1rem solid black;
    }
}
.card.five.mySlides {
    animation:card-five 60000ms infinite;
    .card-five-sentence-one {
        animation: card-five-sentence-one 60000ms steps(60) infinite;
    }
    .card-five-sentence-two {
        animation: card-five-sentence-two 60000ms steps(60) infinite,border-right-blink 700ms infinite;
        border-right: .1rem solid black;
    }
}
.circle.one.intro {
    animation: circle-one-intro 60000ms infinite;
}
.circle.two.intro {
    animation: circle-two-intro 60000ms infinite;
}
.circle.three.intro {
    animation: circle-three-intro 60000ms infinite;
}
.circle.four.intro {
    animation: circle-four-intro 60000ms infinite;
}
.circle.five.intro {
    animation: circle-five-intro 60000ms infinite;
}
@keyframes card-one {
    0%,17% {
        opacity: 100%;
    }
    19%,100% {
        opacity: 0;
    }
}
@keyframes card-one-sentence-one {
    10%,100% {
        width: 34ch;
    }
}
@keyframes card-two {
    0%,19% {
        opacity:0;
    }
    20%,37% {
        opacity: 100%;
    }
    39%,100% {
        opacity:0;
    }
} 
@keyframes card-two-sentence-one {
    0%,20% {
        width: 0ch;
    }
    25%,100% {
        width:39ch;
    }
}
@keyframes card-two-sentence-two {
    0%,25% {
        width: 0;
    }
    30%,100% {
        width:30ch;
    }
}
@keyframes card-three {
    0%,39% {
        opacity: 0;
    }
    40%,57% {
        opacity: 100%;
    }
    59%,100% {
        opacity: 0;
    }
}
@keyframes card-three-sentence-one {
    0%,39% {
        width: 0ch;
    }
    45%,100% {
        width: 32ch;
    }
}
@keyframes card-three-sentence-two {
    0%,45% {
        width: 0;
    }
    50%,100% {
        width:21ch;
    }
}
@keyframes card-four {
    0%,59% {
        opacity: 0;
    }
    60%,77% {
        opacity: 100%;
    }
    79%,100% {
        opacity: 0;
    }
}
@keyframes card-four-sentence-one {
    0%,59% {
        width: 0;
    }
    65%,100% {
        width: 50ch;
    }
}
@keyframes card-four-sentence-two {
    0%,65% {
        width: 0;
    }
    70%,100% {
        width:27ch;
    }
}
@keyframes card-five {
    0%,79% {
        opacity: 0;
    }
    80%,97% {
    opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}
@keyframes card-five-sentence-one {
    0%,79% {
        width: 0ch;
    }
    85%,100% {
        width:38ch;
    }
}
@keyframes card-five-sentence-two {
    0%,85% {
        width: 0ch;
    }
    90%,100% {
        width:30ch;
    }
}
@keyframes border-right-blink {
    50% {
        border-right-color: transparent;
    }
}
@keyframes circle-one-intro {
    0%,19% {
        background-color: black;
    }
    20%,100% {
        background-color: rgb(168, 168, 168);
    }
}
@keyframes circle-two-intro {
    0%,19% {
        background-color: rgb(168, 168, 168);
    }
    20%,39% {
        background-color: black;
    }
    40%,100% {
        background-color: rgb(168, 168, 168);
    }
}
@keyframes circle-three-intro {
    0%,39% {
        background-color: rgb(168, 168, 168);
    }
    40%,59% {
        background-color: black;
    }
    60%,100% {
        background-color: rgb(168, 168, 168);
    }
}
@keyframes circle-four-intro {
    0%,59% {
        background-color: rgb(168, 168, 168);
    }
    60%,79% {
        background-color: black;
    }
    80%,100% {
        background-color: rgb(168, 168, 168);
    }
}
@keyframes circle-five-intro {
    0%,79% {
        background-color: rgb(168, 168, 168);
    }
    80%,99% {
        background-color: black;
    }
    100% {
        background-color: rgb(168, 168, 168);
    }
}
.our-parteners {
    .slide-our-parteners {
        .gatagara {
            animation: gatagara-logo 30000ms infinite;
        }
        .giz {
            animation: giz-logo 30000ms infinite;
        }
        .segal {
            animation: segal-logo 30000ms infinite;
        }
        .global {
            animation: global-logo 30000ms infinite;
        }
    }
    .circle.one.parteners {
        animation:circle-one-parteners 30000ms infinite;
    }
    .circle.two.parteners {
        animation:circle-two-parteners 30000ms infinite;
    }
    .circle.three.parteners {
        animation:circle-three-parteners 30000ms infinite;
    }
    .circle.four.parteners {
        animation:circle-four-parteners 30000ms infinite;
    }
}
@keyframes gatagara-logo {
    0%,22% {
    opacity: 100%;
    }
    24%,100% {
    opacity: 0;
    }
}
@keyframes giz-logo {
    0%,24% {
    opacity: 0;
    }
    25%,47% {
    opacity: 100%;
    }
    49%,100% {
    opacity: 0;
    }
}
@keyframes segal-logo {
    0%,49% {
    opacity: 0;
    }
    50%,72% {
    opacity: 100%;
    }
    74%,100% {
    opacity: 0;
    }
}
@keyframes global-logo {
    0%,74% {
    opacity: 0;
    }
    75%,98% {
        opacity: 100%;
    }
    100% {
    opacity: 0;
    }
} 
@keyframes circle-one-parteners {
    0%,24% {
        background-color: var(--parteners-active-background);
    }
    25%,100% {
        background-color: rgb(168, 168, 168);
    }
}
@keyframes circle-two-parteners {
    0%,24% {
        background-color: rgb(168, 168, 168);
    }
    25%,49% {
        background-color: var(--parteners-active-background);
    }
    50%,100% {
        background-color: rgb(168, 168, 168);
    }
}
@keyframes circle-three-parteners {
    0%,49% {
        background-color: rgb(168, 168, 168);
    }
    50%,74% {
        background-color: var(--parteners-active-background);
    }
    75%,100% {
        background-color: rgb(168, 168, 168);
    }
}
@keyframes circle-four-parteners{
    0%,74% {
        background-color: rgb(168, 168, 168);
    }
    75%,98% {
        background-color: var(--parteners-active-background);
    }
    100% {
        background-color: rgb(168, 168, 168);
    }
}