:root{
    --primary-color: #ffff;
    --second-color: #0000;
    --third-color: #0a0a2d;
    --fourth-color: #d8d8ee;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 1.9rem; 
    scroll-behavior:smooth;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body {
 background-color: var(--fourth-color);
}
img {
  width:100%;
  height:100%;
  object-fit: cover;
  background-color: grey;
}
a{
  text-decoration: none;
}
.page-header{
    display: none;
}
.header {
  position: sticky;
  top: 0;
  z-index: 5;
}
.header nav {
    width: 100%;
    height:4.5rem;
    background:  var( --primary-color);
    padding: 1rem 1rem 1rem 3rem;
    display: flex;
    justify-content:space-betwee;
    align-items: center;
    box-shadow: #0a0a2d 1px 1px 5px 1px;
}
.logo{
    height: 98%;
    background: none !important;
}
.logo img{
    width: 70px;
    align-self:center;
}
.header .nav-menu{
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: black;
}
.nav-menu a{
    padding: 8px 12px; 
    font-weight: 500;
    transition:background 0.9s,color 0.9s; 
    border-radius: 30px;
     color: black; 
}
.nav-menu a:hover{
    background: #0a0a2d;
    color: #d8d8ee; 
}
 i {
  font-size: 25px;
  display: none !important;
}
/*All section titles h1*/
.section-title {
  font-size: 3rem;
  line-height: 4rem;
}
/*Other normal title h2*/
.title {
  font-weight: 500;
  line-height: 2.5rem;
}
/*All the paragraphs*/
p {
  font-size: 1.2rem;
  color: rgb(82, 82, 82);
}
/*All titles and paragraphs*/
h1,p,h2 {
  padding: 1rem;
}
/*All small circles below slides*/
.small-circles {
  display: flex;
  justify-content: space-evenly;
  .circle {
    background-color: rgb(168, 168, 168);
    border-radius: 50%;
    width:.5rem !important;
    height:.5rem !important;
  }
}
/*Section Slideshow container*/
.slideshow-container {
  margin: 0 0 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*The section walls*/
  .wall {
    position: relative;
    z-index: 1;
    width:10rem;
    height:25rem;
    background-color: white;
  }
      /*all of the cards and the small circles (displaying at the bottom), in the div called mySlides*/
  .mySlides {
    position: relative;
    width: 100%;
    height:26rem; 
    .card  {
      position: absolute;
      top:0;
      left:50% !important; 
      transform: translateX(-50%) !important;
      background-color: var(--primary-color);
      box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
      transition: box-shadow 300ms,transform 300ms;
      padding:.5rem;
      border-radius: 1rem;
      width:max-content;
      height:max-content; 
      .image-container {
        width:35rem;
        height:20rem;
        img {
          border-radius: 1rem;
        }
      }
      figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          padding: 0;
          overflow-x: hidden;
          white-space: nowrap;
          text-align: center;
        }
      }
    }
  .card:hover {
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,50%);
  } 
  .small-circles {
    position: absolute;
    bottom:0;
    width: 100%;
  }
  }
} 
/*What We Do Section in the home page*/
.what-we-do {
  display: flex;
  flex-direction: column;
  a {
    color:rgb(255, 0, 43);
    flex-grow: 1;
    display: grid;
    align-items: flex-end;
  }
  a:hover {
    color: rgb(183, 23, 49);
    text-decoration: underline;
  }
  /*Card container*/
  .cards  { 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(23rem,1fr));
    gap:2rem;
    /*Each single card*/
    .card {
      justify-self: center;
      background-color: var(--primary-color);
      border-radius:1rem;
      box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
      width: 23rem;
      display: flex;
      flex-direction: column;
      .image-container {
        width: 100%;
        height: 15rem;
        img {
          border-radius:1rem 1rem 0 0;
        }
      }
    }
  }
}
/*What we do section in its actual page called "Our Programs"*/
.what-we-do.page {
  background-color: rgba(255, 255, 255, 0.582);
}
/*About Us (At the Home Page)*/
.about-us {
  padding:.5rem;
  display: flex;
  flex-direction: column;
  gap:2rem;
  .title {
    font-size: 2rem;
  }
  article:last-of-type {
    display: flex;
    flex-direction: column;
    gap:2.5rem;
    /*Values*/
    .values {
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
     gap:2rem;
      p {
        justify-self: center;
        background-color: var(--primary-color);
        box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
        width:15rem;
        transition: transform 500ms;
      }
      p:hover {
        transform: scale(1.3);
      }
    }
  }
}
/*Our parteners section (Home Page)*/
.our-parteners {
  background-color: white;
  margin: 4rem 0 0 0;
  padding: 0 0 2rem 0;
    .partener-slide {
    display: flex;
    justify-content: space-between;
    .wall {
      position: relative;
      z-index: 1;
      width:7rem;
      height:25rem; 
      background-color: white;
    }
    .slide-our-parteners {
      position: relative;
      height:25rem;
      background-color: black;
      color: white;
      border-radius: 1rem;
      flex-grow: 1;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:2rem;
      .image-container {
        position: absolute;
        top:1.5rem;
        left:50%;
        transform: translateX(-50%);
        width:20rem;
        height:15rem;
        img {
          border-radius: 1rem;
          background: none;
        }
      }
      .small-circles {
        position: absolute;
        bottom: 1.5rem;
        width:30%;
      }
    }
  }
}
/*feedback section (Home Page and Feedback Page)*/
.feedback {
  background-color: rgb(1, 15, 37);
  color: white;
  padding: 3rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  gap:3rem;
  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
    article {
      background-color: #42424e;
      padding:2rem 1rem;
      border-radius: 1rem;
      box-shadow: 1rem .7rem 1rem #32323b;
      display: flex;
      flex-direction: column;
      gap:2rem;
      width:70%;
      .a-person {
        width:10rem;
        height:10rem;
        border-radius: 50%;
        img {
          border-radius: 50%;
        }
      }
      q {
        font-size: 1.3rem;
      }
      p {
        text-align: left;
        padding: 0;
        color:white;
      }
      a {
        color:rgb(255, 0, 43);
        flex-grow: 1;
        display: grid;
        align-items: flex-end;
      }
      a:hover {
        color: rgb(183, 23, 49);
        text-decoration: underline;
      }
    }
  }
}
.blue-span {
  color: rgb(92, 92, 255);
}
/*Back To Top Button All pages*/
.Back-Top-Button {
  margin:1rem 0;
  a {
    padding: .5rem 2rem;
    border-radius: 5rem;
    background-color: #0a0a2d;
    color: white;
  }
  a:hover {
    background-color: rgb(42, 42, 119);
  }
}
footer {
  padding:2rem 0;
  background-color: rgb(1, 15, 37);
  color:white;
  display: flex;
  justify-content: space-evenly;
  .image-container {
    width:10rem;
    height:10rem;
  }
  ul {
    li {
      list-style: none;
      a {
        color:white;
        i {
          background-color: #0a0a2d;
        }
      }
      a:hover {
        color: rgb(92, 92, 255);
        text-decoration: underline;
      }
    }
  }
}
/*Assistive Technologies Page*/
.assistivetechnologies-section {
  background-color: rgba(255, 255, 255, 0.582);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap:2rem;
  .assistive-techonologies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    gap:1rem;
    /*figure is both keyboard and touch screen head dauber card*/
    figure {
      background-color: var(--primary-color);
      border-radius:1rem;
      box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
      div {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        img {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }
    }
  }
  .famous-people-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap:1rem;
    figure {
      background-color: var(--primary-color);
      border-radius:1rem;
      box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
      div {
        height: 25rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        img {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }
    }
  }
}
/*RATA Courses page*/
.RATA-Courses {
  background-color: rgba(255, 255, 255, 0.582);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  .all-courses {
    margin: 2rem 0 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 1rem;
    .single-course {
      background-color: var(--primary-color);
      border-radius:1rem;
      box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
    }
  }
  .courses-roadmap {
    margin: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    article {
      display: flex;
      flex-direction: column;
      gap:1rem;
      ol {
        list-style-position: inside;
      }
      li {
        text-align: start;
        font-size: 1.15rem;
        color: #42424e;
        line-height: 2.5rem;
      }
      h1,p {
        text-align: start;
        padding: 0;
      }
      h1 {
        font-size: 2rem;
      }
  }
  }
}
/*Publish page*/
.publish-page {
  background-color: rgba(255, 255, 255, 0.582);
  padding: 1rem;
  .publish-report {
    display: flex;
    flex-direction: column;
    gap:2.5rem;
    h1,p,a {
      text-align: start;
      padding: 0;
    }
    a {
      color:rgb(255, 0, 43);
    }
    a:hover {
      color: rgb(183, 23, 49);
      text-decoration: underline;
    }
  }
}
/*Our Team page*/
.our-team {
  background-color: rgb(1, 15, 37);
  color: white;
  padding: 1rem;
  .team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
    gap:2rem;
    figure {
      justify-self: center;
      width:20rem;
      background-color: #42424e;
      padding:1rem;
      border-radius: 1rem;
      box-shadow: 1rem .7rem 1rem #32323b;
      display: flex;
      flex-direction: column;
      gap:.5rem;
      div {
        height:25rem;
        overflow: hidden;
        img {
          border-radius: 1rem;
          transition: transform 500ms;
        }
      }
    }
    img:hover {
      transform: scale(1.4);
    }
  }
  p {
    color:white;
  }
}